# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

client/build/web/*.js linguist-generated
client/build/web/*.wasm linguist-generated
client/build/web/*.html linguist-generated
